.register{
    width: 100%;
    height: 100vh ;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form button{
    width:373px;
    height: 37px;
    background-color: teal;
    font-size: 15px;
}

.register-form button:hover{
    background-color: rgb(6, 59, 59); 
}

.register-form input {
    margin: 10px;
    width: 350px;
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
}


