.upload{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 150px; */
}

h1{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}

span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5px;
}

.upload-form{
    display: flex;
    flex-direction: column;
}

.select{
    margin-bottom: 10px;
}

.upload-form select{
    margin-left: 10px;
    width: 153px;
    padding: 3px
}

.btn-calendar{
    width:220px;
    height: 30px;
    background-color: teal !important;
    font-size: 13px !important;
}

.btn-calendar:hover{
    background-color: rgb(6, 59, 59) !important; 
}

.upload-form input {
    margin: 3px;
    width: 200px;
    height: 25px;
    padding: 3px 5px;
    font-size: 15px;
}

.span-mt{
    margin-top: 8px;
}

